<body class="home flex-grid-template home2016   hs-content-id-4117056991 hs-site-page page hs-content-path- hs-content-name-2016-home-w--smart-content  " style="">
  <div class="header-container-wrapper">
    <div class="header-container container-fluid">
      <div class="row-fluid-wrapper row-depth-1 row-number-1 ">
        <div class="row-fluid ">
          <div class="span12 widget-span widget-type-global_group " style="" data-widget-type="global_group" data-x="0" data-w="12">
            <!-- start coded_template: id:676302552 path:generated_global_groups/676287002.html -->
            <div class="" data-global-widget-path="generated_global_groups/676287002.html">
              <div class="row-fluid-wrapper row-depth-1 row-number-1 ">
                <div class="row-fluid ">
                  <div class="site-header">
                    <div class="span12 widget-span widget-type-cell " style="" data-widget-type="cell" data-x="0" data-w="12">
                      <div class="row-fluid-wrapper row-depth-1 row-number-2 ">
                        <div class="row-fluid ">
                          <div class="span12 widget-span widget-type-raw_html " style="display:none" data-widget-type="raw_html" data-x="0" data-w="12">
                            <div class="cell-wrapper layout-widget-wrapper">
                              <span id="hs_cos_wrapper_module_14706700352613493" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_raw_html" style="" data-hs-cos-general-type="widget" data-hs-cos-type="raw_html"></span>
                            </div><!--end layout-widget-wrapper -->
                          </div><!--end widget-span -->
                        </div><!--end row-->
                      </div><!--end row-wrapper -->
                      <div class="row-fluid-wrapper row-depth-1 row-number-3 ">
                        <div class="row-fluid ">
                          <div class="sub-nav">
                            <div class="span12 widget-span widget-type-cell " style="" data-widget-type="cell" data-x="0" data-w="12">
                              <div class="row-fluid-wrapper row-depth-1 row-number-4 ">
                                <div class="row-fluid ">
                                  <div class="span4 widget-span widget-type-rich_text " style="" data-widget-type="rich_text" data-x="0" data-w="4">
                                    <div class="cell-wrapper layout-widget-wrapper">
                                      <span id="hs_cos_wrapper_module_13976860514717" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><a class="login" href="https://portal.avella.com/" rel="nofollow" target="_blank">PROVIDER LOGIN</a></span>
                                    </div><!--end layout-widget-wrapper -->
                                  </div><!--end widget-span -->
                                  <div class="span8 widget-span widget-type-menu secondary-nav" style="" data-widget-type="menu" data-x="4" data-w="8">
                                    <div class="cell-wrapper layout-widget-wrapper">
                                      <span id="hs_cos_wrapper_module_13982806319463691" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_menu" style="" data-hs-cos-general-type="widget" data-hs-cos-type="menu">
                                        <div id="hs_menu_wrapper_module_13982806319463691" class="hs-menu-wrapper active-branch flyouts hs-menu-flow-horizontal" role="navigation" data-sitemap-name="Secondary Navigation">
                                          <ul>
                                            <li class="hs-menu-item hs-menu-depth-1"><a href="payors.html">Payors</a></li>
                                            <li class="hs-menu-item hs-menu-depth-1"><a href="pharmaceutical-manufacturers.html">Manufacturers</a></li>
                                            <li class="hs-menu-item hs-menu-depth-1"><a href="http://blog.avella.com/">Blog</a></li>
                                            <li class="hs-menu-item hs-menu-depth-1"><a href="specialty-pharmacy-careers.html">Careers</a></li>
                                          </ul>
                                        </div>
                                      </span>
                                    </div><!--end layout-widget-wrapper -->
                                  </div><!--end widget-span -->
                                  <div class="logos-holder">
                                    <%= image_tag "footer-logos.png" %>
                                  </div>
                                </div><!--end row-->
                              </div><!--end row-wrapper -->
                            </div><!--end widget-span -->
                          </div>
                        </div><!--end row-->
                      </div><!--end row-wrapper -->
                      <div class="row-fluid-wrapper row-depth-1 row-number-5 ">
                        <div class="row-fluid ">
                          <div class="main-nav-container">
                            <div class="main-nav">
                              <div class="span12 widget-span widget-type-cell " style="" data-widget-type="cell" data-x="0" data-w="12">
                                <div class="row-fluid-wrapper row-depth-1 row-number-6 ">
                                  <div class="row-fluid ">
                                    <div class="span2 widget-span widget-type-logo " style="" data-widget-type="logo" data-x="0" data-w="2">
                                      <div class="cell-wrapper layout-widget-wrapper">
                                        <span id="hs_cos_wrapper_module_139768605147110" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_logo" style="" data-hs-cos-general-type="widget" data-hs-cos-type="logo">
                                          <a href="index.html" id="hs-link-module_139768605147110" style="border-width:0px;border:0px;">
                                            <%= image_tag "logo.png", class: "hs-image-widget image-logo-header-new", width: "155px" %>
                                          </a>
                                        </span>
                                      </div><!--end layout-widget-wrapper -->
                                    </div><!--end widget-span -->
                                    <a href="#touch" class="menu-trigger">
                                      <span class="icon-bar"></span>
                                      <span class="icon-bar"></span>
                                      <span class="icon-bar"></span>
                                    </a>
                                    <div class="span10 widget-span widget-type-menu " style="" data-widget-type="menu" data-x="2" data-w="10">
                                      <div class="cell-wrapper layout-widget-wrapper">
                                        <span id="hs_cos_wrapper_module_13979208199282446" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_menu" style="" data-hs-cos-general-type="widget" data-hs-cos-type="menu">
                                          <div id="hs_menu_wrapper_module_13979208199282446" class="hs-menu-wrapper active-branch flyouts hs-menu-flow-horizontal" role="navigation" data-sitemap-name="2014 Main Icon Nav">
                                            <ul>
                                              <li class="hs-menu-item hs-menu-depth-1 hs-item-has-children menu-locations-container"><a href="specialty-pharmacy-locations.html">Locations</a>
                                                <ul class="hs-menu-children-wrapper menu-locations">
                                                  <div class="inner-menu-container">
                                                    <div class="menu-column">
                                                      <li class="hs-menu-item hs-menu-depth-2">
                                                        <a href="avella-phoenix.html" class="location-flap">Quick Rx - Bronx</a>
                                                      </li>
                                                      <li class="hs-menu-item hs-menu-depth-2">
                                                        <a href="avella-phoenix.html">Quick Rx - Brooklyn</a>
                                                      </li>
                                                      <li class="hs-menu-item hs-menu-depth-2">
                                                        <a href="avella-phoenix.html">Quick Rx - Bronx</a>
                                                      </li>
                                                      <li class="hs-menu-item hs-menu-depth-2">
                                                        <a href="avella-phoenix.html">Quick Rx - Bronx</a>
                                                      </li>
                                                      <li class="hs-menu-item hs-menu-depth-2">
                                                        <a href="avella-scottsdale.html">Scottsdale, AZ</a>
                                                      </li>

                                                      <li class="hs-menu-item hs-menu-depth-2">
                                                        <a href="avella-tucson.html">Tucson, AZ</a>
                                                      </li>
                                                      <li class="hs-menu-item hs-menu-depth-2">
                                                        <a href="avella-sacramento.html">Sacramento, CA</a>
                                                      </li>
                                                      <li class="hs-menu-item hs-menu-depth-2">
                                                        <a href="avella-denver.html">Denver, CO</a>
                                                      </li>
                                                      <li class="hs-menu-item hs-menu-depth-2">
                                                        <a href="avella-scottsdale.html">Scottsdale, AZ</a>
                                                      </li>
                                                      <li class="hs-menu-item hs-menu-depth-2">
                                                        <a href="avella-tucson.html">Tucson, AZ</a>
                                                      </li>
                                                      <li class="hs-menu-item hs-menu-depth-2">
                                                        <a href="avella-sacramento.html">Sacramento, CA</a>
                                                      </li>
                                                      <li class="hs-menu-item hs-menu-depth-2">
                                                        <a href="avella-denver.html">Denver, CO</a>
                                                      </li>
                                                    </div>
                                                    <div class="menu-column menu-column-hide-it">
                                                    </div>
                                                  </div>
                                                </ul>
                                              </li>
                                              <li class="hs-menu-item hs-menu-depth-1 hs-item-has-children"><a href="specialties.html">Specialties</a>
                                                <ul class="hs-menu-children-wrapper">
                                                  <li class="hs-menu-item hs-menu-depth-2">
                                                    <a href="specialties/addiction-management.html">Addiction Management</a>
                                                  </li>
                                                  <li class="hs-menu-item hs-menu-depth-2">
                                                    <a href="specialties/cardiovascular-disease.html">Cardiovascular Disease</a>
                                                  </li>
                                                  <li class="hs-menu-item hs-menu-depth-2">
                                                    <a href="specialties/dermatology.html">Dermatology</a>
                                                  </li>
                                                  <li class="hs-menu-item hs-menu-depth-2">
                                                    <a href="specialties/fertility.html">Fertility</a>
                                                  </li>
                                                </ul>
                                              </li>
                                              <li class="hs-menu-item hs-menu-depth-1 hs-item-has-children"><a href="specialty-pharmacy-patients.html">Patients</a>
                                                <ul class="hs-menu-children-wrapper">
                                                  <li class="hs-menu-item hs-menu-depth-2">
                                                    <a href="ask-the-pharmacist.html">Ask the Pharmacist</a>
                                                  </li>
                                                  <li class="hs-menu-item hs-menu-depth-2">
                                                    <a href="patients/specialty-pharmacy-faq.html">FAQ</a>
                                                  </li>
                                                  <li class="hs-menu-item hs-menu-depth-2">
                                                    <a href="patients/patient-education-videos.html">Instructional Videos</a>
                                                  </li>
                                                  <li class="hs-menu-item hs-menu-depth-2">
                                                    <a href="patient-text-message-tool.html">Patient Text Program</a>
                                                  </li>
                                                  <li class="hs-menu-item hs-menu-depth-2">
                                                    <a href="patient-resources.html">Patient Resources</a>
                                                  </li>
                                                  <li class="hs-menu-item hs-menu-depth-2">
                                                    <a href="patient-story.html">Patient Story</a>
                                                  </li>
                                                  <li class="hs-menu-item hs-menu-depth-2">
                                                    <a href="https://customer.vizualintelligencesurvey.com/ViewSurvey/#/survey/viewAllSurvey/YWJn" target="_blank">Patient Survey</a>
                                                  </li>
                                                </ul>
                                              </li>
                                              <li class="hs-menu-item hs-menu-depth-1 hs-item-has-children"><a href="healthcare-providers.html">Providers</a>
                                                <ul class="hs-menu-children-wrapper">
                                                  <li class="hs-menu-item hs-menu-depth-2">
                                                    <a href="ask-the-pharmacist.html">Ask the Pharmacist</a>
                                                  </li>
                                                  <li class="hs-menu-item hs-menu-depth-2">
                                                    <a href="find-avella-account-manager.html">Find Your Account Manager</a>
                                                  </li>
                                                  <li class="hs-menu-item hs-menu-depth-2">
                                                    <a href="icd-9-icd-10-conversion.html">ICD-9 to ICD-10 Conversion</a>
                                                  </li>
                                                  <li class="hs-menu-item hs-menu-depth-2">
                                                    <a href="portal.html">Provider Portal</a>
                                                  </li>
                                                  <li class="hs-menu-item hs-menu-depth-2">
                                                    <a href="https://customer.vizualintelligencesurvey.com/ViewSurvey/#/survey/viewAllSurvey/YWJi" target="_blank">Provider Survey</a></li>
                                                  <li class="hs-menu-item hs-menu-depth-2">
                                                    <a href="specialty-pharmacy-rx-forms.html">Rx Forms</a>
                                                  </li>
                                                  <li class="hs-menu-item hs-menu-depth-2">
                                                    <a href="specialties.html">Specialties</a>
                                                  </li>
                                                </ul>
                                              </li>
                                              <li class="hs-menu-item hs-menu-depth-1 hs-item-has-children"><a href="hospitals.html">Hospitals</a>
                                                <ul class="hs-menu-children-wrapper">
                                                  <li class="hs-menu-item hs-menu-depth-2">
                                                    <a href="340b.html">340B Program</a>
                                                  </li>
                                                  <li class="hs-menu-item hs-menu-depth-2 hs-item-has-children">
                                                    <a href="sourceb.html">SourceB 503B Services</a>
                                                    <ul class="hs-menu-children-wrapper">
                                                      <li class="hs-menu-item hs-menu-depth-3">
                                                        <a href="sourceb-products.html">Products</a>
                                                      </li>
                                                      <li class="hs-menu-item hs-menu-depth-3">
                                                        <a href="sourceb-safety-quality.html">Safety and Quality</a>
                                                      </li>
                                                      <li class="hs-menu-item hs-menu-depth-3">
                                                        <a href="sourceb-service.html">Service</a>
                                                      </li>
                                                      <li class="hs-menu-item hs-menu-depth-3">
                                                        <a href="sourceb-who-we-serve.html">Who We Serve</a>
                                                      </li>
                                                      <li class="hs-menu-item hs-menu-depth-3">
                                                        <a href="https://info.avella.com/sourceb-brochure">Digital Brochure</a>
                                                      </li>
                                                    </ul>
                                                  </li>
                                                  <li class="hs-menu-item hs-menu-depth-2">
                                                    <a href="503a.html">503A Oncology</a>
                                                  </li>
                                                </ul>
                                              </li>
                                              <li class="hs-menu-item hs-menu-depth-1 hs-item-has-children"><a href="services.html">Services</a>
                                                <ul class="hs-menu-children-wrapper">
                                                  <li class="hs-menu-item hs-menu-depth-2">
                                                    <a href="medication-adherence.html">Adherence</a>
                                                  </li>
                                                  <li class="hs-menu-item hs-menu-depth-2">
                                                    <a href="specialty-pharmacy-education.html">Education</a>
                                                  </li>
                                                  <li class="hs-menu-item hs-menu-depth-2">
                                                    <a href="patients/patient-financial-assistance.html">Financial Assistance</a>
                                                  </li>
                                                  <li class="hs-menu-item hs-menu-depth-2">
                                                    <a href="services/limited-distribution-drugs.html">Limited Distribution Drugs</a>
                                                  </li>
                                                  <li class="hs-menu-item hs-menu-depth-2">
                                                    <a href="mobile-health-technology.html">Mobile Health Technology</a>
                                                  </li>
                                                  <li class="hs-menu-item hs-menu-depth-2">
                                                    <a href="patients/prior-authorization.html">Prior Authorization</a>
                                                  </li>
                                                  <li class="hs-menu-item hs-menu-depth-2">
                                                    <a href="patient-privacy.html">Privacy</a>
                                                  </li>
                                                  <li class="hs-menu-item hs-menu-depth-2">
                                                    <a href="quality-assurance.html">Quality Assurance</a>
                                                  </li>
                                                </ul>
                                              </li>
                                              <li class="hs-menu-item hs-menu-depth-1 hs-item-has-children"><a href="about-avella.html">About</a>
                                                <ul class="hs-menu-children-wrapper">
                                                  <li class="hs-menu-item hs-menu-depth-2">
                                                    <a href="specialty-pharmacy-accreditations.html">Accreditations</a>
                                                  </li>
                                                  <li class="hs-menu-item hs-menu-depth-2">
                                                    <a href="avella-history.html">History</a>
                                                  </li>
                                                  <li class="hs-menu-item hs-menu-depth-2">
                                                    <a href="leadership.html">Leadership</a>
                                                  </li>
                                                  <li class="hs-menu-item hs-menu-depth-2">
                                                    <a href="news.html">News</a>
                                                  </li>
                                                  <li class="hs-menu-item hs-menu-depth-2">
                                                    <a href="contact-avella.html">Contact</a>
                                                  </li>
                                                </ul>
                                              </li>
                                            </ul>
                                          </div>
                                        </span>
                                      </div><!--end layout-widget-wrapper -->
                                    </div><!--end widget-span -->
                                  </div><!--end row-->
                                </div><!--end row-wrapper -->
                              </div><!--end widget-span -->
                            </div>
                          </div>
                        </div><!--end row-->
                      </div><!--end row-wrapper -->
                    </div><!--end widget-span -->
                    <div class="mobile-menu hide">
                      <span id="hs_cos_wrapper_mobile_menu_full_sitemap" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_menu" style="" data-hs-cos-general-type="widget" data-hs-cos-type="menu">
                        <div id="hs_menu_wrapper_mobile_menu_full_sitemap" class="hs-menu-wrapper active-branch no-flyouts hs-menu-flow-horizontal" role="navigation" data-sitemap-name="Header Menu">
                          <ul>
                            <li class="hs-menu-item hs-menu-depth-1 hs-item-has-children"><a href="healthcare-providers.html">Providers</a>
                              <ul class="hs-menu-children-wrapper">
                                <li class="hs-menu-item hs-menu-depth-2">
                                  <a href="ask-the-pharmacist.html">Ask the Pharmacist</a>
                                </li>
                                <li class="hs-menu-item hs-menu-depth-2">
                                  <a href="find-avella-account-manager.html">Find Your Account Manager</a>
                                </li>
                                  <li class="hs-menu-item hs-menu-depth-2">
                                    <a href="icd-9-icd-10-conversion.html">ICD-9 to ICD-10 Conversion</a>
                                  </li>
                                  <li class="hs-menu-item hs-menu-depth-2">
                                    <a href="portal.html">Provider Portal</a>
                                  </li>
                                  <li class="hs-menu-item hs-menu-depth-2">
                                    <a href="https://customer.vizualintelligencesurvey.com/ViewSurvey/#/survey/viewAllSurvey/YWJi">Provider Survey</a></li>
                                  <li class="hs-menu-item hs-menu-depth-2">
                                    <a href="specialty-pharmacy-rx-forms.html">Rx Forms</a>
                                  </li>
                                </ul>
                              </li>
                              <li class="hs-menu-item hs-menu-depth-1 hs-item-has-children"><a href="specialty-pharmacy-patients.html">Patients</a>
                                <ul class="hs-menu-children-wrapper">
                                  <li class="hs-menu-item hs-menu-depth-2">
                                    <a href="ask-the-pharmacist.html">Ask the Pharmacist</a>
                                  </li>
                                  <li class="hs-menu-item hs-menu-depth-2">
                                    <a href="patients/specialty-pharmacy-faq.html">FAQ</a>
                                  </li>
                                  <li class="hs-menu-item hs-menu-depth-2">
                                    <a href="patients/patient-education-videos.html">Instructional Videos</a>
                                  </li>
                                  <li class="hs-menu-item hs-menu-depth-2">
                                    <a href="patient-text-message-tool.html">Patient Text Program</a>
                                  </li>
                                  <li class="hs-menu-item hs-menu-depth-2">
                                    <a href="patient-resources.html">Patient Resources</a>
                                  </li>
                                  <li class="hs-menu-item hs-menu-depth-2">
                                    <a href="patient-story.html">Patient Stories</a>
                                  </li>
                                  <li class="hs-menu-item hs-menu-depth-2">
                                    <a href="https://customer.vizualintelligencesurvey.com/ViewSurvey/#/survey/viewAllSurvey/YWJn" target="_blank">Survey</a>
                                  </li>
                                </ul>
                              </li>
                              <li class="hs-menu-item hs-menu-depth-1 hs-item-has-children"><a href="payors.html">Payors</a>
                                <ul class="hs-menu-children-wrapper">
                                  <li class="hs-menu-item hs-menu-depth-2">
                                    <a href="payors.html">Payors Overview</a>
                                  </li>
                                  <li class="hs-menu-item hs-menu-depth-2">
                                    <a href="acap-preferred-vendor.html">ACAP Preferred Vendor</a>
                                  </li>
                                  <li class="hs-menu-item hs-menu-depth-2">
                                    <a href="medication-adherence.html">Adherence</a>
                                  </li>
                                  <li class="hs-menu-item hs-menu-depth-2">
                                    <a href="specialty-pharmacy-education.html">Case Studies</a>
                                  </li>
                                  <li class="hs-menu-item hs-menu-depth-2">
                                    <a href="https://www.surveymonkey.com/r/AvellaPayor" target="_blank">Payor Survey</a>
                                  </li>
                                </ul>
                              </li>
                                <li class="hs-menu-item hs-menu-depth-1 hs-item-has-children"><a href="pharmaceutical-manufacturers.html">Manufacturers</a>
                                  <ul class="hs-menu-children-wrapper">
                                    <li class="hs-menu-item hs-menu-depth-2">
                                      <a href="pharmaceutical-manufacturers.html">Manufacturers Overview</a>
                                    </li>
                                    <li class="hs-menu-item hs-menu-depth-2">
                                      <a href="medication-adherence.html">Adherence</a>
                                    </li>
                                    <li class="hs-menu-item hs-menu-depth-2">
                                      <a href="specialty-pharmacy-education.html">Case Studies</a>
                                    </li>
                                  </ul>
                                </li>
                                  <li class="hs-menu-item hs-menu-depth-1 hs-item-has-children"><a href="about-avella.html">About</a>
                                    <ul class="hs-menu-children-wrapper">
                                      <li class="hs-menu-item hs-menu-depth-2">
                                        <a href="about-avella.html">About Avella</a>
                                      </li>
                                      <li class="hs-menu-item hs-menu-depth-2">
                                        <a href="specialty-pharmacy-accreditations.html">Accreditations</a>
                                      </li>
                                      <li class="hs-menu-item hs-menu-depth-2">
                                        <a href="avella-history.html">History</a>
                                      </li>
                                      <li class="hs-menu-item hs-menu-depth-2">
                                        <a href="leadership.html">Leadership</a>
                                      </li>
                                      <li class="hs-menu-item hs-menu-depth-2">
                                        <a href="news.html">News</a>
                                      </li>
                                    </ul>
                                  </li>
                                    <li class="hs-menu-item hs-menu-depth-1 hs-item-has-children"><a href="hospitals.html">Hospitals</a>
                                      <ul class="hs-menu-children-wrapper">
                                        <li class="hs-menu-item hs-menu-depth-2">
                                          <a href="340b.html">340B Program</a>
                                        </li>
                                        <li class="hs-menu-item hs-menu-depth-2">
                                          <a href="sourceb.html">SourceB 503B Services</a>
                                        </li>
                                        <li class="hs-menu-item hs-menu-depth-2">
                                          <a href="sourceb-products.html"><span>Products</span></a>
                                        </li>
                                        <li class="hs-menu-item hs-menu-depth-2">
                                          <a href="sourceb-safety-quality.html"><span>Safety and Quality</span></a>
                                        </li>
                                        <li class="hs-menu-item hs-menu-depth-2">
                                          <a href="sourceb-service.html"><span>Service</span></a>
                                        </li>
                                        <li class="hs-menu-item hs-menu-depth-2">
                                          <a href="sourceb-who-we-serve.html"><span>Who We Serve</span></a>
                                        </li>
                                        <li class="hs-menu-item hs-menu-depth-2">
                                          <a href="https://info.avella.com/sourceb-brochure"><span>Digital Brochure</span></a>
                                        </li>
                                        <li class="hs-menu-item hs-menu-depth-2">
                                          <a href="503a.html">503A Oncology</a></li>
                                      </ul>
                                    </li>
                                      <li class="hs-menu-item hs-menu-depth-1 hs-item-has-children"><a href="cgmp.html">Services</a>
                                        <ul class="hs-menu-children-wrapper">
                                          <li class="hs-menu-item hs-menu-depth-2">
                                            <a href="medication-adherence.html">Adherence</a>
                                          </li>
                                          <li class="hs-menu-item hs-menu-depth-2">
                                            <a href="cgmp.html">cGMP Facility</a>
                                          </li>
                                          <li class="hs-menu-item hs-menu-depth-2">
                                            <a href="specialty-pharmacy-education.html">Education</a>
                                          </li>
                                          <li class="hs-menu-item hs-menu-depth-2">
                                            <a href="patients/patient-financial-assistance.html">Financial Assistance</a>
                                          </li>
                                          <li class="hs-menu-item hs-menu-depth-2">
                                            <a href="services/limited-distribution-drugs.html">Limited Distribution Drugs</a>
                                          </li>
                                          <li class="hs-menu-item hs-menu-depth-2">
                                            <a href="patients/prior-authorization.html">Prior Authorization</a>
                                          </li>
                                          <li class="hs-menu-item hs-menu-depth-2">
                                            <a href="patient-privacy.html">Privacy</a>
                                          </li>
                                          <li class="hs-menu-item hs-menu-depth-2">
                                            <a href="quality-assurance.html">Quality Assurance</a>
                                          </li>
                                        </ul>
                                      </li>
                                        <li class="hs-menu-item hs-menu-depth-1">
                                          <a href="http://blog.avella.com/">Blog</a>
                                        </li>
                                        <li class="hs-menu-item hs-menu-depth-1">
                                          <a href="specialty-pharmacy-careers.html">Careers</a>
                                        </li>
                                        <li class="hs-menu-item hs-menu-depth-1">
                                          <a href="contact-avella.html">Contact</a>
                                        </li>
                                      </ul>
                                    </div>
                                  </span>
                                </div>
                              </div>
                            </div><!--end row-->
                          </div><!--end row-wrapper -->
                        </div><!-- end coded_template: id:676302552 path:generated_global_groups/676287002.html -->
                      </div><!--end widget-span -->
                    </div><!--end row-->
                  </div><!--end row-wrapper -->
                </div>
              </div>
            <body>

              <div class="below-nav-container">
                <div class="video-fade">
                  <%= video_tag "chem2.mp4", :controls => false, type: "video/mp4", id: "main-vid", autoplay: true, loop: true %>
                </div>

      <section class="services-area">
        <div class="service-title text-center">
            <h2>How Can We Help?</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
        </div>
        <div class="service-preview row">
            <div class="col-md-4 col-sm-4 col-xs-12 service-main">
                <div class="service-img">
                    <%= image_tag "doctor.png" %>
                    <p>Doctors</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 service-main">
                <div class="service-img">
                    <%= image_tag "pharmacy.png" %>
                    <p style="color: #000;">Pharmacy</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 service-main">
                <div class="service-img">
                    <%= image_tag "insurance.png" %>
                    <p>Insurance</p>
                </div>
            </div>
        </div>
        <div class="service-preview row">
            <div class="col-md-4 col-sm-4 col-xs-12 service-main">
                <div class="service-img">
                    <%= image_tag "location.png" %>
                    <p style="color: #000;">Location</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 service-main">
                <div class="service-img">
                    <%= image_tag "patients.png" %>
                    <p>Patients</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 service-main">
                <div class="service-img">
                    <%= image_tag "meditation.png" %>
                    <p style="color: #000;">Meditation</p>
                </div>
            </div>
        </div>
    </section>
    <section class="recommend-area">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="recommend-texts">
                        <h2>What Recommends us?</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                        <ul>
                            <li>
                                <p><span class="fa fa-check" style="color: #8AC53F;"></span>Lorem ipsum dolor sit amet, consectetur adipisicing </p>
                            </li>
                            <li>
                                <p><span class="fa fa-check" style="color: #083D86"></span>Lorem ipsum dolor sit amet, consectetur adipisicing </p>
                            </li>
                            <li>
                                <p><span class="fa fa-check" style="color: #8AC53F;"></span>Lorem ipsum dolor sit amet, consectetur adipisicing </p>
                            </li>
                            <li>
                                <p><span class="fa fa-check" style="color: #083D86"></span>Lorem ipsum dolor sit amet, consectetur adipisicing </p>
                            </li>
                            <li>
                                <p><span class="fa fa-check" style="color: #8AC53F;"></span>Lorem ipsum dolor sit amet, consectetur adipisicing </p>
                            </li>
                        </ul>
                        <h3>Our Highly Professional And Well Trained Staff <br />Is Here For An Unique Experience!</h3>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <%= image_tag "about-us.png", class: "about-img" %>
                </div>
            </div>
        </div>
    </section>
    <section class="clients-area">
        <div id="clients" class="owl-carousel owl-theme">
            <div class="item" id="slide-item">
                <div class="caption">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <%= image_tag "couple.png", class: "couple" %>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <h2>Deborah & John</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                        <span class="border-hr"></span>
                        <div class="read-more">
                            <a href="#" class="read-more-btn text-right">Read Full Bio ››</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item" id="slide-item">
                <div class="caption">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <%= image_tag "couple.png", class: "couple" %>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <h2>Deborah & John</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                        <span class="border-hr"></span>
                        <div class="read-more">
                            <a href="#" class="read-more-btn  text-right">Read Full Bio ››</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item" id="slide-item">
                <div class="caption">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <%= image_tag "couple.png", class: "couple" %>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <h2>Deborah & John</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                        <span class="border-hr"></span>
                        <div class="read-more">
                            <a href="#" class="read-more-btn  text-right">Read Full Bio ››</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="subscription-area">
        <div class="container">
            <div class="row">
                <h2 class="sub-head">Get the latest news, promotions & consultations.</h2>
                <div class="sub-form">
                    <div class="form-group col-sm-3">
                        <!-- Username field -->
                        <input class="form-control" id="username_id" name="user_name" type="text" placeholder="first name" />
                    </div>
                    <div class="form-group col-sm-3">
                        <!-- Password field -->
                        <input class="form-control" id="password_id" name="user_password" type="text" placeholder="last name" />
                    </div>
                    <div class="form-group col-sm-3">
                        <!-- Password field -->
                        <input class="form-control" id="password_id" name="email" type="email" placeholder="email" />
                    </div>
                    <div class="form-group col-sm-3">
                        <!-- Login button -->
                        <button class="btn btn-primary subscibe" name="submit" type="submit">Subscribe</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="f-top-img">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <a href="#">
                      <%= image_tag "f-logo.png", class: "ft-logo" %>
                    </a>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <div class="footer-menu">
                        <ul class="f-nav">
                            <li><a href="#">Accreditations</a></li>
                            <li><a href="#">Enrollment Forms</a></li>
                            <li><a href="#">Legal Medical Disposal</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Standards of Care</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-text">
                <p>Copyright &copy; 2017 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo </p>
            </div>
        </div>
    </footer>


<script type="text/javascript">
         $("#owl-demo").owlCarousel({
             navigation: true, // Show next and prev buttons
             slideSpeed: 400,
             paginationSpeed: 300,
             singleItem: true,
			mouseDrag  : false,
             navigationText: [
                 "<i class='fa fa-angle-left'></i>",
                 "<i class='fa fa-angle-right'></i>"
             ],
             //rewindNav:false,//
             autoPlay: 4000, //Set AutoPlay to 3 seconds
             // "singleItem:true" is a shortcut for:
             // items : 1,
             // itemsDesktop : false,
             // itemsDesktopSmall : false,
             // itemsTablet: false,
             // itemsMobile : false
         });

 </script>
 <script type="text/javascript">
         $("#clients").owlCarousel({
             navigation: false, // Show next and prev buttons
             slideSpeed: 400,
             paginationSpeed: 300,
             singleItem: true,
			mouseDrag  : false,
             navigationText: [
                 "<i class='fa fa-angle-left'></i>",
                 "<i class='fa fa-angle-right'></i>"
             ],
             //rewindNav:false,//
            //  autoPlay: 4000, //Set AutoPlay to 3 seconds
             // "singleItem:true" is a shortcut for:
             // items : 1,
             // itemsDesktop : false,
             // itemsDesktopSmall : false,
             // itemsTablet: false,
             // itemsMobile : false
         });

         $( '.menu-column-hide-it' ).hide();

 </script>
