
<body>
	<div id="background">
		<div id="Layer1copy"><%= image_tag "Layer1copy.png" %></div>
		<div id="Linedevider"><%= image_tag "Linedevider.png" %></div>
		<div id="Linedevidercopy"><%= image_tag "Linedevidercopy.png" %></div>
		<div id="Linedevidercopy2"><%= image_tag "Linedevidercopy2.png" %></div>
		<div id="Linedevidercopy3"><%= image_tag "Linedevidercopy3.png" %></div>
		<div id="Linedevidercopy4"><%= image_tag "Linedevidercopy4.png" %></div>
		<div id="GrayBG"><%= image_tag "GrayBG.png" %></div>
		<div id="Q"><%= image_tag "Q.png" %></div>
		<div id="bottomstrip"><%= image_tag "bottomstrip.png" %></div>
		<div id="Socialmediaicons"><%= image_tag "Socialmediaicons.png" %></div>
		<div id="Logo"><%= image_tag "Logo.png" %></div>
		<div id="buttoncopy"><%= image_tag "buttoncopy.png" %></div>
		<div id="SENDcopy"><%= image_tag "SENDcopy.png" %></div>
		<div id="QUICKRX2017COPYRIGHT"><%= image_tag "QUICKRX2017COPYRIGHT.png" %></div>
		<div id="CONTACTUS90Broadstre"><%= image_tag "CONTACTUS90Broadstre.png" %></div>
		<div id="ABOUTUSOURSPECIALTIE"><%= image_tag "ABOUTUSOURSPECIALTIE.png" %></div>
		<div id="RegisterforourNewsle"><%= image_tag "RegisterforourNewsle.png" %></div>
		<div id="Layer2"><%= image_tag "Layer2.png" %></div>
		<div id="Email"><%= image_tag "Email.png" %></div>
		<div id="Logosbanner"><%= image_tag "Logosbanner.png" %></div>
		<div id="Tweetericon"><%= image_tag "Tweetericon.png" %></div>
		<div id="FBicon"><%= image_tag "FBicon.png" %></div>
		<div id="UtubeIcon"><%= image_tag "UtubeIcon.png" %></div>
		<div id="inIcon"><%= image_tag "inIcon.png" %></div>
		<div id="Gicon"><%= image_tag "Gicon.png" %></div>
		<div id="contactpic"><%= image_tag "contactpic.png" %></div>
		<div id="Fieldframe"><%= image_tag "Fieldframe.png" %></div>
		<div id="Fieldframecopy"><%= image_tag "Fieldframecopy.png" %></div>
		<div id="Fieldframecopy2"><%= image_tag "Fieldframecopy2.png" %></div>
		<div id="Fieldframecopy3"><%= image_tag "Fieldframecopy3.png" %></div>
		<div id="Fieldframecopy4"><%= image_tag "Fieldframecopy4.png" %></div>
		<div id="Fieldframecopy5"><%= image_tag "Fieldframecopy5.png" %></div>
		<div id="Fieldframecopy6"><%= image_tag "Fieldframecopy6.png" %></div>
		<div id="Fieldframecopy7"><%= image_tag "Fieldframecopy7.png" %></div>
		<div id="Messageframe"><%= image_tag "Messageframe.png" %></div>
		<div id="CONTACTUS"><%= image_tag "CONTACTUS.png" %></div>
		<div id="Formoreinformationpl"><%= image_tag "Formoreinformationpl.png" %></div>
		<div id="FirstName"><%= image_tag "FirstName.png" %></div>
		<div id="Surame"><%= image_tag "Surame.png" %></div>
		<div id="Address"><%= image_tag "Address.png" %></div>
		<div id="City"><%= image_tag "City.png" %></div>
		<div id="State"><%= image_tag "State.png" %></div>
		<div id="ZipCode"><%= image_tag "ZipCode.png" %></div>
		<div id="Phone"><%= image_tag "Phone.png" %></div>
		<div id="Email_0"><%= image_tag "Email_0.png" %></div>
		<div id="Message"><%= image_tag "Message.png" %></div>
		<div id="button"><%= image_tag "button.png" %></div>
		<div id="SEND"><<%= image_tag "SEND.png" %></div>
		<div id="QuickRXHeadquater90B"><%= image_tag "QuickRXHeadquater90B.png" %></div>
		<div id="BlueBG"><%= image_tag "BlueBG.png" %></div>
		<div id="Servicespic"><%= image_tag "Servicespic.png" %></div>
		<div id="Thepharmacyindustryi"><%= image_tag "Thepharmacyindustryi.png" %></div>
		<div id="SERVICES"><%= image_tag "SERVICES.png" %></div>
		<div id="AboutQ"><%= image_tag "AboutQ.png" %></div>
		<div id="ABOUTUS"><%= image_tag "ABOUTUS.png" %></div>
		<div id="QuickRXisNewYorkCity"><%= image_tag "QuickRXisNewYorkCity.png" %></div>
		<div id="BlueBG_0"><%= image_tag "BlueBG_0.png" %></div>
		<div id="redcircle"><%= image_tag "redcircle.png" %></div>
		<div id="redcirclecopy3"><%= image_tag "redcirclecopy3.png" %></div>
		<div id="redcirclecopy"><%= image_tag "redcirclecopy.png" %></div>
		<div id="redcirclecopy2"><%= image_tag "redcirclecopy2.png" %></div>
		<div id="Whirecircleover"><%= image_tag "Whirecircleover.png" %></div>
		<div id="Whcirclecopy2over"><%= image_tag "Whcirclecopy2over.png" %></div>
		<div id="whitecirclecopy3over"><%= image_tag "whitecirclecopy3over.png" %></div>
		<div id="Whitecirclecopy4over"><%= image_tag "Whitecirclecopy4over.png" %></div>
		<div id="Specialtyicon"><%= image_tag "Specialtyicon.png" %></div>
		<div id="priorAicon"><%= image_tag "priorAicon.png" %></div>
		<div id="financeicon"><<%= image_tag "financeicon.png" %></div>
		<div id="eduicon"><%= image_tag "eduicon.png" %></div>
		<div id="SPECIALTIES"><%= image_tag "SPECIALTIES.png" %></div>
		<div id="PRIORAUTHORIZATION"><%= image_tag "PRIORAUTHORIZATION.png" %></div>
		<div id="FINANCIALASSISTANCE"><%= image_tag "FINANCIALASSISTANCE.png" %></div>
		<div id="EDUCATION"><%= image_tag "EDUCATION.png" %></div>
		<div id="SPECIALTIESover"><%= image_tag "SPECIALTIESover.png" %></div>
		<div id="Specialtyiconover"><%= image_tag "Specialtyiconover.png" %></div>
		<div id="priorAiconover"><%= image_tag "priorAiconover.png" %></div>
		<div id="financeiconover"><%= image_tag "financeiconover.png" %></div>
		<div id="eduiconover"><%= image_tag "eduiconover.png" %></div>
		<div id="OURBENFITS"><%= image_tag "OURBENFITS.png" %></div>
		<div id="MainBanner1"><%= image_tag "MainBanner1.png" %></div>
		<div id="MainBanner2"><%= image_tag "MainBanner2.png" %></div>
		<div id="mainbanner3"><%= image_tag "mainbanner3.png" %></div>
		<div id="Q_0"><%= image_tag "Q_0.png" %></div>
		<div id="trasparenttextBG"><%= image_tag "trasparenttextBG.png" %></div>
		<div id="SPENDTIMEWITHYOURLOV"><%= image_tag "SPENDTIMEWITHYOURLOV.png" %></div>
		<div id="INSTEADOFRUNNINGAFTE"><%= image_tag "INSTEADOFRUNNINGAFTE.png" %></div>
		<div id="TopwhiteBG"><%= image_tag "TopwhiteBG.png" %></div>
		<div id="bluestrip"><%= image_tag "bluestrip.png" %></div>
		<div id="Logo_0"><%= image_tag "Logo_0.png" %></div>
		<div id="ABOUTUSOURSPECIALTI"><%= image_tag "ABOUTUSOURSPECIALTI.png" %></div>
		<div id="redstripover"><%= image_tag "redstripover.png" %></div>
		<div id="redtoptub"><%= image_tag "redtoptub.png" %></div>
		<div id="redtoptubcopy"><%= image_tag "redtoptubcopy.png" %></div>
		<div id="redtoptubcopy2"><%= image_tag "redtoptubcopy2.png" %></div>
		<div id="ProviderLogin"><%= image_tag "ProviderLogin.png" %></div>
		<div id="EnrollmentForms"><%= image_tag "EnrollmentForms.png" %></div>
		<div id="ContactUs"><%= image_tag "ContactUs.png" %></div>
	</div>
</body>
