<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Quick RX</title>
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1, user-scalable=no">
    <link rel="icon" href="pictures/favicon.ico" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag 'bootstrap.min.css', media: 'all' %>
    <%= stylesheet_link_tag 'font-awesome.css', media: 'all' %>
    <%= stylesheet_link_tag 'quickrx.css', media: 'all' %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'bootstrap.min.js' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
